* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  height: 100vh;
  width: 786px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 20px;
  padding: 20px;
}

form {
  width: 786px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-area {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

label {
  font-family: "Courier New", Courier, monospace;
  position: absolute;
  height: auto;
  right: 10px;
}

input {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  width: 248px;
  padding: 7px;
  padding-right: 35px;
  text-align: right;
  border-color: black;
  border-radius: 6px;
  border-style: double;
  outline: none;
}

.select_conversion {
  width: 500px;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 20px;
}

select {
  margin: 2px;
  padding: 10px 20px;
  border-color: black;
  border-radius: 6px;
  border-style: double;
  outline: none;
}

.btn_calculate {
  width: 500px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-color: black;
  border-radius: 6px;
  border-style: double;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn_calculate:hover {
  background-color: teal;
}
